<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>There's only one thing you need to know about me: I measure my success by the success of others around me. This is what makes me the perfect Scrum Master. When my team delivers like a well oiled machine, I know my ability to coach agile practices helps create the ideal environment for successful teams. Whether it's introducing agile concepts, facilitating backlog prioritization, or removing the overhead and obstacles that slow my team down; it's my daily goal to make sure my team succeeds. And when they succeed, I consider that a good day in the life of a Scrum Master.</p>
                </div>
                <div class="col-lg-4">
                    <p>Hi, I'm Jeff Bostick and I am an Agile Project Manager with over 3 years experience as a Certified Scrum Master and Certified Product Owner. I have over 10 years of professional experience, the past seven in the Human Capital/SaaS industry. Before that I cut my chops as a recruiter in the healthcare and higher education space. This helped me develop the soft skills needed to put people in a position to succeed.</p>
                </div>
            </div>
        </div>
    </section>
